* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  color: white;
  // box-sizing: border-box;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

body {
  height: 100vh;
  background: linear-gradient(fade(#2c263e, 80%), fade(#2c263e, 90%)), url('../img/bg1.png') center center fixed;
  background-size: cover;
}
